<nav>
  <div class="stylesheet" href ="/stylesheets/style.css" />
    <a href="/" class="brand-logo">Music</a>
    <ul id="nav-mobil" class="right hide-on-med-and-down">
      <li><a href="/music">Music</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
